<div>
  <h3 *ngIf="!!employee.id; else add">
    Edit
  </h3>
  <ng-template #add>
    <h3>
      Add
    </h3>
  </ng-template>
  <form class="editEmployee">
    <mat-form-field *ngIf="!!employee.id; else noId">
      <input matInput placeholder="ID" [(ngModel)]="employee.id" name="id" readonly=true disabled>
    </mat-form-field>
    <ng-template #noId>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="employee.id" name="id" cdkFocusInitial required>
      </mat-form-field>
    </ng-template>
    <mat-form-field *ngIf="!!employee.firstName; else noFirstName">
      <input matInput placeholder="First Name" [(ngModel)]="employee.firstName" name="firstName" readonly=true disabled>
    </mat-form-field>
    <ng-template #noFirstName>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="employee.firstName" name="firstName" required>
      </mat-form-field>
    </ng-template>
    <mat-form-field *ngIf="!!employee.lastName; else noLastName">
      <input matInput placeholder="Last Name" [(ngModel)]="employee.lastName" name="lastName" readonly=true disabled>
    </mat-form-field>
    <ng-template #noLastName>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="employee.lastName" name="lastName" required>
      </mat-form-field>
    </ng-template>
    <mat-form-field *ngIf="!!employee.position; else noPosition">
        <input matInput placeholder="Position" [(ngModel)]="employee.position" name="position" readonly=true disabled>
    </mat-form-field>
    <ng-template #noPosition>
      <mat-form-field>
          <input matInput placeholder="Position" [(ngModel)]="employee.position" name="position" required>
      </mat-form-field>
    </ng-template>
    <mat-form-field *ngIf="!!employee.id && !employee.compensation; else noCompensation">
        <input matInput placeholder="Compensation" [(ngModel)]="employee.compensation" name="compensation" cdkFocusInitial required>
    </mat-form-field>
    <ng-template #noCompensation>
      <mat-form-field>
          <input matInput placeholder="Compensation" [(ngModel)]="employee.compensation" name="compensation" required>
      </mat-form-field>
    </ng-template>
  </form>
</div>
<br>
<button mat-button (click)="onCancelClick()">Cancel</button>
<button mat-button (click)="checkFields()">Confirm</button>