<div class="editEmployee">
  <h3>
    Delete
  </h3>
  <div *ngIf="!fromEmployee; else Completely">
    <p >
        Are you sure you want to completely remove <b>{{employee.firstName}} {{employee.lastName}}</b>?
    </p>
  </div>
  <ng-template #Completely>
    <div>
      <p>
          Are you sure you want to remove <b>{{employee.firstName}} {{employee.lastName}}</b> from under <b>{{fromEmployee.firstName}} {{fromEmployee.lastName}}</b>?
      </p>
    </div>
  </ng-template>
</div>
<br>
<button mat-button (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
<button mat-button (click)="onConfirmClick()" >Confirm</button>