@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* You can add global styles to this file, and also import other style files */


:root{
    --page-width-desktop: 50%;
    --off-white: #f2f2f2;
    --mindex-gray: #928c88;
    --mindex-light-blue: #3576ba;
    --mindex-blue: #0066ba;
    --mindex-dark-blue: #003764;
    --mindex-really-dark-blue: #00233f;
    --mindex-orange: #d1581c;
    --mindex-light-orange: #de9f46;

}

body{
    margin: 0;
    background-color: var(--off-white);
    font-family: Roboto;
}

div.header{
    background-color: var(--mindex-blue);
}

div.bannerwidth{
    font-size: 2em;
    font-weight: 500;
    color: white;
    width: var(--page-width-desktop);
    margin: auto;
    overflow: hidden;
    white-space: nowrap ;
    padding: 25px;
    flex-flow: column nowrap;
    justify-content: space-around;
}

mat-list.employee-list.mat-list{
    width: var(--page-width-desktop);
    margin: auto;
    padding-top: 0px !important;
}

mat-list-item.employee.mat-list-item.ng-star-inserted{
    padding-top: 15px;
    padding-bottom: 15px;
}

mat-list.mat-list{
    padding-top: 0px !important;
}

.mat-list > mat-list.replist.mat-list:nth-child(2n){
    background-color:red;
}


div.mat-list-item-content {
    padding: 0px !important;
}

mat-list-item.mat-list-item{
    height:0% !important;
}

app-employee{
    width: 100%;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 4px 4px lightgray;
}

h3.mat-line{
    margin-left: 10px;
    margin-right: 10px;
}

h2.mat-line{
    margin-left: 10px;
    margin-right: 10px;
}

p.mat-line{
    margin-left: 10px;
    margin-right: 10px;
}

mat-expansion-panel.mat-expansion-panel{
    border-top:1px solid gainsboro; 
}

div.reportrow{
    width: 100%;
    display: flex;
}

div.reportcol{
    flex-grow: 100;
    margin: auto;
}

button.editRep.mat-mini-fab.mat-accent{
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--mindex-light-orange);
}

button.deleteRep.mat-mini-fab.mat-accent{
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--mindex-light-orange);
}

div.reportfooter {
    display:flex;
    flex-direction: row-reverse;
    padding-top: 15px;
}

button.mat-flat-button.mat-primary{
    background-color: var(--mindex-orange);
}

div.pagewidth {
    width: var(--page-width-desktop);
    margin: auto;
}

div.footer{
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 15px;
    padding-right: 15px;
    height: 61px;
}

button#add-client-fab.mat-fab.mat-accent {
    top: auto !important;
    bottom: 10px !important;
    position: fixed !important;
    background-color: var(--mindex-dark-blue);
}